@model HotelProject.WebUI.Models.Testimonial.ShowDetailsViewModel
@{
    ViewData["Title"] = "ShowDetails";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

@{
	<h4>@Model.Name info</h4>

	<table class="table table-bordered">
		<tr class="thead-dark">
			<th>#</th>
			<th>Name</th>
			<th>Rank</th>
			<th>Description</th>
			<th>Image</th>
		</tr>

		<tr>
			<td>@Model.TestimonialID</td>
			<td>@Model.Name</td>
			<td>@Model.Title</td>
			<td>@Model.Description</td>
			<td>@Model.Image</td>
		</tr>

	</table>

}



